.careLine {
    font-size: 50px;
    margin: 3px;
    color: cornsilk;
    background-color: rgb(153, 153, 224, 40%);
    border-radius: 30px;
    padding: 20px;

}



.header {
    display: flex;
    column-gap: 30px;
    justify-content: center;
    padding: 50px;
    padding-bottom: 0px;
}